<nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="canvas"><i class="fas fa-map"></i> {{localize "levels3dpreview.settings.configApp.tabs.canvas"}}</a>
    <a class="item" data-tab="token"><i class="fas fa-user-alt"></i> {{localize "levels3dpreview.settings.configApp.tabs.token"}}</a>
    <a class="item" data-tab="base"><i class="fas fa-dot-circle"></i> {{localize "levels3dpreview.settings.configApp.tabs.base"}}</a>
    <a class="item" data-tab="perm"><i class="fas fa-user-lock"></i> {{localize "levels3dpreview.settings.configApp.tabs.perm"}}</a>
    <a class="item" data-tab="gc"><i class="fas fa-video"></i> {{localize "levels3dpreview.settings.configApp.tabs.gc"}}</a>
    <a class="item" data-tab="misc"><i class="fas fa-cogs"></i> {{localize "levels3dpreview.settings.configApp.tabs.misc"}}</a>
</nav>