<section class='tab active {{tab.cssClass}}' data-group='primary' data-tab='canvas'>

    <div class="form-group">
    <label>{{localize "levels3dpreview.settings.preventNegative.name"}}</label>
    <input type="checkbox" name="preventNegative" data-dtype="Boolean" {{checked preventNegative}} />
    <p class="hint">{{localize "levels3dpreview.settings.preventNegative.hint"}}</p>
    </div>

    <div class="form-group">
    <label>{{localize "levels3dpreview.settings.outline.name"}}</label>
    <input type="checkbox" name="outline" data-dtype="Boolean" {{checked outline}} />
    <p class="hint">{{localize "levels3dpreview.settings.outline.hint"}}</p>
    </div>

    <div class="form-group">
    <label>{{localize "levels3dpreview.settings.fullTransparency.name"}}</label>
    <input type="checkbox" name="fullTransparency" data-dtype="Boolean" {{checked fullTransparency}} />
    <p class="hint">{{localize "levels3dpreview.settings.fullTransparency.hint"}}</p>
    </div>

    <div class="form-group">
    <label>{{localize "levels3dpreview.settings.paddingAppearance.name"}}</label>
    <select name="paddingAppearance" data-dtype="String">
        <option {{#if (eq paddingAppearance "none")}}selected{{/if}} value="none">{{localize "levels3dpreview.flags.renderTable.options.none"}}</option>
        <option {{#if (eq paddingAppearance "table")}}selected{{/if}} value="table">{{localize "levels3dpreview.flags.renderTable.options.table"}}</option>
        <option {{#if (eq paddingAppearance "matpaper")}}selected{{/if}} value="matpaper">{{localize "levels3dpreview.flags.renderTable.options.matpaper"}}</option>
        <option {{#if (eq paddingAppearance "matwood")}}selected{{/if}} value="matwood">{{localize "levels3dpreview.flags.renderTable.options.matwood"}}</option>
        <option {{#if (eq paddingAppearance "matcloth")}}selected{{/if}} value="matcloth">{{localize "levels3dpreview.flags.renderTable.options.matcloth"}}</option>
        <option {{#if (eq paddingAppearance "matblueprint")}}selected{{/if}} value="matblueprint">{{localize "levels3dpreview.flags.renderTable.options.matblueprint"}}</option>
        <option {{#if (eq paddingAppearance "matcustom")}}selected{{/if}} value="matcustom">{{localize "levels3dpreview.flags.renderTable.options.matcustom"}}</option>
    </select>
    <p class="hint">{{localize "levels3dpreview.settings.paddingAppearance.hint"}}</p>
    </div>

    <div class="form-group">
    <label>{{localize "levels3dpreview.settings.templateSyle.name"}}</label>
    <select name="templateSyle" data-dtype="String">
        <option {{#if (eq templateSyle "wireframe")}}selected{{/if}} value="wireframe">{{localize "levels3dpreview.settings.templateSyle.options.wireframe"}}</option>
        <option {{#if (eq templateSyle "solid")}}selected{{/if}} value="solid">{{localize "levels3dpreview.settings.templateSyle.options.solid"}}</option>
    </select>
    <p class="hint">{{localize "levels3dpreview.settings.templateSyle.hint"}}</p>
    </div>

    <div class="form-group">
    <label>{{localize "levels3dpreview.settings.templateEffects.name"}}</label>
    <input type="checkbox" name="templateEffects" data-dtype="Boolean" {{checked templateEffects}} />
    <p class="hint">{{localize "levels3dpreview.settings.templateEffects.hint"}}</p>
    </div>

    <div class="form-group">
    <label>{{localize "levels3dpreview.settings.templateAuto3D.name"}}</label>
    <input type="checkbox" name="templateAuto3D" data-dtype="Boolean" {{checked templateAuto3D}} />
    <p class="hint">{{localize "levels3dpreview.settings.templateAuto3D.hint"}}</p>
    </div>

    <div class="form-group">
    <label>{{localize "levels3dpreview.settings.lightHelpers.name"}}</label>
    <input type="checkbox" name="lightHelpers" data-dtype="Boolean" {{checked lightHelpers}} />
    <p class="hint">{{localize "levels3dpreview.settings.lightHelpers.hint"}}</p>
    </div>

    <div class="form-group">
    <label>{{localize "levels3dpreview.settings.useRaycastRuler.name"}}</label>
    <input type="checkbox" name="useRaycastRuler" data-dtype="Boolean" {{checked useRaycastRuler}} />
    <p class="hint">{{localize "levels3dpreview.settings.useRaycastRuler.hint"}}</p>
    </div>

    <div class="form-group">
    <label>{{localize "levels3dpreview.settings.rangeFinder.name"}}</label>
    <select name="rangeFinder" data-dtype="String">
        <option {{#if (eq rangeFinder "none")}}selected{{/if}} value="none">{{localize "levels3dpreview.settings.rangeFinder.options.none"}}</option>
        <option {{#if (eq rangeFinder "combat")}}selected{{/if}} value="combat">{{localize "levels3dpreview.settings.rangeFinder.options.combat"}}</option>
        <option {{#if (eq rangeFinder "always")}}selected{{/if}} value="always">{{localize "levels3dpreview.settings.rangeFinder.options.always"}}</option>
    </select>
    <p class="hint">{{localize "levels3dpreview.settings.rangeFinder.hint"}}</p>
    </div>

    <div class="form-group">
    <label>{{localize "levels3dpreview.settings.autoPan.name"}}</label>
    <select name="autoPan" data-dtype="String">
        <option {{#if (eq autoPan "none")}}selected{{/if}} value="none">{{localize "levels3dpreview.settings.autoPan.options.none"}}</option>
        <option {{#if (eq autoPan "player")}}selected{{/if}} value="player">{{localize "levels3dpreview.settings.autoPan.options.player"}}</option>
        <option {{#if (eq autoPan "all")}}selected{{/if}} value="all">{{localize "levels3dpreview.settings.autoPan.options.all"}}</option>
    </select>
    <p class="hint">{{localize "levels3dpreview.settings.autoPan.hint"}}</p>
    </div>

    <div class="form-group">
    <label>{{localize "levels3dpreview.settings.regionsAlwaysFlat.name"}}</label>
    <input type="checkbox" name="regionsAlwaysFlat" data-dtype="Boolean" {{checked regionsAlwaysFlat}} />
    <p class="hint">{{localize "levels3dpreview.settings.regionsAlwaysFlat.hint"}}</p>
    </div>

</section>