<section class='tab {{tab.cssClass}}' data-group='primary' data-tab='perm'>

  <div class="form-group">
    <label>{{localize "levels3dpreview.settings.canping.name"}}</label>
    <input type="checkbox" name="canping" data-dtype="Boolean" {{checked canping}} />
    <p class="hint">{{localize "levels3dpreview.settings.canping.hint"}}</p>
  </div>

  <div class="form-group">
    <label>{{localize "levels3dpreview.settings.canpingpan.name"}}</label>
    <input type="checkbox" name="canpingpan" data-dtype="Boolean" {{checked canpingpan}} />
    <p class="hint">{{localize "levels3dpreview.settings.canpingpan.hint"}}</p>
  </div>

</section>