
    <div class="flexcol">
        {{#each buttons}}
        <li>
            <button class="ui-control plain {{icon}} build-panel-button" data-action={{id}} data-tooltip="{{name}}"></button>
        </li>
        {{/each}}
        {{#if showSeparator}}
        <li>
            <button class="ui-control plain fas fa-horizontal-rule build-panel-button" style="background: transparent; border: none; pointer-events: none"></button>
        </li>
        {{/if}}
        {{#each clipNavigation}}
        <li>
            <button class="ui-control plain {{icon}} build-panel-button" data-action={{id}} data-tooltip="{{name}}"></button>
        </li>
        {{/each}}
    </div>