<div id="clip-navigation">
  <div id="clip-navigation-btns">
    {{#each buttons}}
      <i class="{{icon}} clip-navigation-btn" id="{{id}}" data-tooltip="{{localize name}}"></i>
    {{/each}}
  </div>
  <div id="clip-navigation-range">
  {{#if showRange}}
    {{#each levels}}
      <span class="clip-navigation-range-label" data-top={{top}} data-bottom={{bottom}}>{{name}}</span>
    {{/each}}
      <input type="range" step="any" min="{{range.min}}" max="{{range.max}}" value="{{range.curr}}">
  {{/if}}
  </div>
</div>