<div id="clip-navigation">
  <div id="clip-navigation-btns">
    <i class="fas fa-video" id="clip-navigation-camera" title="{{localize "levels3dpreview.clipNavigator.cameraToToken"}}"></i>
    <i class="fas fa-street-view{{#if autoMode}} clip-navigation-enabled{{/if}}" id="clip-navigation-automode" title="{{localize "levels3dpreview.clipNavigator.automode"}}"></i>
    {{#if isGC}}
      <i class="fas fa-location-arrow" id="game-camera-toggle" title="{{localize "levels3dpreview.clipNavigator.gamecamera"}}"></i>
    {{/if}}
    {{#if isGM}}
      <i class="fas fa-random" id="clip-navigation-sync" title="{{localize "levels3dpreview.clipNavigator.sync"}}"></i>
    {{/if}}
  </div>
  <div id="clip-navigation-range">
  {{#if showRange}}
    {{#each levels}}
      <span class="clip-navigation-range-label" data-top={{top}} data-bottom={{bottom}}>{{name}}</span>
    {{/each}}
      <input type="range" step="any" min="{{range.min}}" max="{{range.max}}" value="{{range.curr}}">
  {{/if}}
  </div>
</div>