<form class="flexcol" autocomplete="off">
  <!-- Config Settings Configuration Tabs -->
  <nav class="sheet-tabs tabs" data-group="sections">
    <a class="item" data-tab="canvas"><i class="fas fa-map"></i> {{localize "levels3dpreview.settings.configApp.tabs.canvas"}}</a>
    <a class="item" data-tab="token"><i class="fas fa-user-alt"></i> {{localize "levels3dpreview.settings.configApp.tabs.token"}}</a>
    <a class="item" data-tab="base"><i class="fas fa-dot-circle"></i> {{localize "levels3dpreview.settings.configApp.tabs.base"}}</a>
    <a class="item" data-tab="perm"><i class="fas fa-user-lock"></i> {{localize "levels3dpreview.settings.configApp.tabs.perm"}}</a>
    <a class="item" data-tab="gc"><i class="fas fa-video"></i> {{localize "levels3dpreview.settings.configApp.tabs.gc"}}</a>
    <a class="item" data-tab="misc"><i class="fas fa-cogs"></i> {{localize "levels3dpreview.settings.configApp.tabs.misc"}}</a>

  </nav>
  <section id="config-tabs" class="content">
    <hr>
    <!-- Canvas Tab -->
    <div class="tab" data-tab="canvas" data-group="sections">

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.preventNegative.name"}}</label>
        <input type="checkbox" name="preventNegative" data-dtype="Boolean" {{checked preventNegative}} />
        <p class="notes">{{localize "levels3dpreview.settings.preventNegative.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.outline.name"}}</label>
        <input type="checkbox" name="outline" data-dtype="Boolean" {{checked outline}} />
        <p class="notes">{{localize "levels3dpreview.settings.outline.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.fullTransparency.name"}}</label>
        <input type="checkbox" name="fullTransparency" data-dtype="Boolean" {{checked fullTransparency}} />
        <p class="notes">{{localize "levels3dpreview.settings.fullTransparency.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.templateSyle.name"}}</label>
        <select name="templateSyle" data-dtype="String">
          {{#select templateSyle}}
          <option value="wireframe">{{localize "levels3dpreview.settings.templateSyle.options.wireframe"}}</option>
          <option value="solid">{{localize "levels3dpreview.settings.templateSyle.options.solid"}}</option>
          {{/select}}
        </select>
        <p class="notes">{{localize "levels3dpreview.settings.templateSyle.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.templateEffects.name"}}</label>
        <input type="checkbox" name="templateEffects" data-dtype="Boolean" {{checked templateEffects}} />
        <p class="notes">{{localize "levels3dpreview.settings.templateEffects.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.lightHelpers.name"}}</label>
        <input type="checkbox" name="lightHelpers" data-dtype="Boolean" {{checked lightHelpers}} />
        <p class="notes">{{localize "levels3dpreview.settings.lightHelpers.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.rangeFinder.name"}}</label>
        <select name="rangeFinder" data-dtype="String">
          {{#select rangeFinder}}
          <option value="none">{{localize "levels3dpreview.settings.rangeFinder.options.none"}}</option>
          <option value="combat">{{localize "levels3dpreview.settings.rangeFinder.options.combat"}}</option>
          <option value="always">{{localize "levels3dpreview.settings.rangeFinder.options.always"}}</option>
          {{/select}}
        </select>
        <p class="notes">{{localize "levels3dpreview.settings.rangeFinder.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.autoPan.name"}}</label>
        <select name="autoPan" data-dtype="String">
          {{#select autoPan}}
          <option value="none">{{localize "levels3dpreview.settings.autoPan.options.none"}}</option>
          <option value="player">{{localize "levels3dpreview.settings.autoPan.options.player"}}</option>
          <option value="all">{{localize "levels3dpreview.settings.autoPan.options.all"}}</option>
          {{/select}}
        </select>
        <p class="notes">{{localize "levels3dpreview.settings.autoPan.hint"}}</p>
      </div>

    </div>
    <!-- Token Tab -->
    <div class="tab" data-tab="token" data-group="sections">

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.standupFace.name"}}</label>
        <input type="checkbox" name="standupFace" data-dtype="Boolean" {{checked standupFace}} />
        <p class="notes">{{localize "levels3dpreview.settings.standupFace.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.highlightCombat.name"}}</label>
        <input type="checkbox" name="highlightCombat" data-dtype="Boolean" {{checked highlightCombat}} />
        <p class="notes">{{localize "levels3dpreview.settings.highlightCombat.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.startMarker.name"}}</label>
        <input type="checkbox" name="startMarker" data-dtype="Boolean" {{checked startMarker}} />
        <p class="notes">{{localize "levels3dpreview.settings.startMarker.hint"}}</p>
      </div>

      
      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.enableReticule.name"}}</label>
        <input type="checkbox" name="enableReticule" data-dtype="Boolean" {{checked enableReticule}} />
        <p class="notes">{{localize "levels3dpreview.settings.enableReticule.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.hideTarget.name"}}</label>
        <input type="checkbox" name="hideTarget" data-dtype="Boolean" {{checked hideTarget}} />
        <p class="notes">{{localize "levels3dpreview.settings.hideTarget.hint"}}</p>
      </div>

    </div>
    <!-- Base Tab -->
    <div class="tab" data-tab="base" data-group="sections">


      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.baseStyle.name"}}</label>
        <select name="baseStyle" data-dtype="String">
          {{#select baseStyle}}
          {{#each CONFIG.tokenBase}}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
        <p class="notes">{{localize "levels3dpreview.settings.baseStyle.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.solidBaseMode.name"}}</label>
        <select name="solidBaseMode" data-dtype="String">
          {{#select solidBaseMode}}
          <option value="merge">{{localize "levels3dpreview.settings.solidBaseMode.options.merge"}}</option>
          <option value="ontop">{{localize "levels3dpreview.settings.solidBaseMode.options.ontop"}}</option>
          {{/select}}
        </select>
        <p class="notes">{{localize "levels3dpreview.settings.solidBaseMode.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.solidBaseColor.name"}}</label>
        <div class="form-fields">
          <input class="color" type="text" name="solidBaseColor" value="{{solidBaseColor}}">
          <input type="color" data-edit="solidBaseColor" value="{{solidBaseColor}}">
        </div>
        <p class="notes">{{localize "levels3dpreview.settings.solidBaseColor.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.rotateIndicator.name"}}</label>
        <input type="checkbox" name="rotateIndicator" data-dtype="Boolean" {{checked colorizeInidcator}} />
        <p class="notes">{{localize "levels3dpreview.settings.rotateIndicator.hint"}}</p>
      </div>

    </div>


          <!-- Permisison Tab -->
    <div class="tab" data-tab="perm" data-group="sections">

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.canping.name"}}</label>
        <input type="checkbox" name="canping" data-dtype="Boolean" {{checked canping}} />
        <p class="notes">{{localize "levels3dpreview.settings.canping.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.canpingpan.name"}}</label>
        <input type="checkbox" name="canpingpan" data-dtype="Boolean" {{checked canpingpan}} />
        <p class="notes">{{localize "levels3dpreview.settings.canpingpan.hint"}}</p>
      </div>

    </div>

          <!-- Game Camera Tab -->
    <div class="tab" data-tab="gc" data-group="sections">

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.enableGameCamera.name"}}</label>
        <input type="checkbox" name="enableGameCamera" data-dtype="Boolean" {{checked enableGameCamera}} />
        <p class="notes">{{localize "levels3dpreview.settings.enableGameCamera.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.gameCameraMinAngle.name"}}</label>
        <div class="form-fields">
            <input type="range" name="gameCameraMinAngle" value="{{gameCameraMinAngle}}" min="0" max="90" step="1">
            <span class="range-value">{{gameCameraMinAngle}}</span>
        </div>
        <p class="notes">{{localize "levels3dpreview.settings.gameCameraMinAngle.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.gameCameraMaxAngle.name"}}</label>
        <div class="form-fields">
            <input type="range" name="gameCameraMaxAngle" value="{{gameCameraMaxAngle}}" min="0" max="90" step="1">
            <span class="range-value">{{gameCameraMaxAngle}}</span>
        </div>
        <p class="notes">{{localize "levels3dpreview.settings.gameCameraMaxAngle.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.gameCameraClipping.name"}}</label>
        <input type="checkbox" name="gameCameraClipping" data-dtype="Boolean" {{checked gameCameraClipping}} />
        <p class="notes">{{localize "levels3dpreview.settings.gameCameraClipping.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.gameCameraAutoLock.name"}}</label>
        <input type="checkbox" name="gameCameraAutoLock" data-dtype="Boolean" {{checked gameCameraAutoLock}} />
        <p class="notes">{{localize "levels3dpreview.settings.gameCameraAutoLock.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.gameCameraDefaultGm.name"}}</label>
        <input type="checkbox" name="gameCameraDefaultGm" data-dtype="Boolean" {{checked gameCameraDefaultGm}} />
        <p class="notes">{{localize "levels3dpreview.settings.gameCameraDefaultGm.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.gameCameraWarnings.name"}}</label>
        <input type="checkbox" name="gameCameraWarnings" data-dtype="Boolean" {{checked gameCameraWarnings}} />
        <p class="notes">{{localize "levels3dpreview.settings.gameCameraWarnings.hint"}}</p>
      </div>
      
    </div>


    <!-- Misc Tab -->
    <div class="tab" data-tab="misc" data-group="sections">

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.useMultithreading.name"}}</label>
        <input type="checkbox" name="useMultithreading" data-dtype="Boolean" {{checked useMultithreading}} />
        <p class="notes">{{localize "levels3dpreview.settings.useMultithreading.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.miniCanvas.name"}}</label>
        <input type="checkbox" name="miniCanvas" data-dtype="Boolean" {{checked miniCanvas}} />
        <p class="notes">{{localize "levels3dpreview.settings.miniCanvas.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.navigatorAuto.name"}}</label>
        <select name="navigatorAuto" data-dtype="String">
          {{#select navigatorAuto}}
          <option value="none">{{localize "levels3dpreview.settings.navigatorAuto.options.none"}}</option>
          <option value="players">{{localize "levels3dpreview.settings.navigatorAuto.options.players"}}</option>
          <option value="all">{{localize "levels3dpreview.settings.navigatorAuto.options.all"}}
          </option>
          {{/select}}
        </select>
        <p class="notes">{{localize "levels3dpreview.settings.navigatorAuto.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.showAdvanced.name"}}</label>
        <input type="checkbox" name="showAdvanced" data-dtype="Boolean" {{checked showAdvanced}} />
        <p class="notes">{{localize "levels3dpreview.settings.showAdvanced.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.cameralockzero.name"}}</label>
        <input type="checkbox" name="cameralockzero" data-dtype="Boolean" {{checked cameralockzero}} />
        <p class="notes">{{localize "levels3dpreview.settings.cameralockzero.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.sharedContext.name"}}</label>
        <input type="checkbox" name="sharedContext" data-dtype="Boolean" {{checked sharedContext}} />
        <p class="notes">{{localize "levels3dpreview.settings.sharedContext.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.preapplyShaders.name"}}</label>
        <input type="checkbox" name="preapplyShaders" data-dtype="Boolean" {{checked preapplyShaders}} />
        <p class="notes">{{localize "levels3dpreview.settings.preapplyShaders.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "levels3dpreview.settings.debugMode.name"}}</label>
        <input type="checkbox" name="debugMode" data-dtype="Boolean" {{checked debugMode}} />
        <p class="notes">{{localize "levels3dpreview.settings.debugMode.hint"}}</p>
      </div>

    </div>
  </section>
  <footer class="sheet-footer flexrow">
    <button type="submit" name="submit">
      <i class="fas fa-save"></i> {{localize "levels3dpreview.settings.configApp.save"}}
    </button>
  </footer>
</form>