<div>
    <p>{{{localize "levels3dpreview.controls.gameCameraIntro.intro"}}}</p>
    <hr>
    <p>{{{localize "levels3dpreview.controls.gameCameraIntro.pan"}}}</p>
    <p>{{{localize "levels3dpreview.controls.gameCameraIntro.rotate"}}}</p>
    <p>{{{localize "levels3dpreview.controls.gameCameraIntro.zoom"}}}</p>
    <p>{{{localize "levels3dpreview.controls.gameCameraIntro.topdown"}}}</p>
    <p>{{{localize "levels3dpreview.controls.gameCameraIntro.locking"}}}</p>
    <hr>
    <p>{{{localize "levels3dpreview.controls.gameCameraIntro.movement"}}}</p>
    <p>{{{localize "levels3dpreview.controls.gameCameraIntro.elevation"}}}</p>
    <p>{{{localize "levels3dpreview.controls.gameCameraIntro.rebind"}}}</p>
    <hr>
</div>