<form class="flexcol" autocomplete="off">
    <nav class="sheet-tabs tabs" data-group="sections">
        {{#each shaders}}
            <a class="item {{#if this.isEnabled}}shader-tab-enabled{{/if}}" data-tab="{{@key}}">{{{this.icon}}} {{this.title}}</a>
        {{/each}}
    </nav>


    <section id="config-tabs" class="content">
        <hr>

        {{#each shaders}}
            <div class="tab" data-tab="{{@key}}" data-group="sections">
                <p class="notes">{{#if this.isSlow}}<i id="levels-3d-preview-slow-shader" data-tooltip="{{localize "levels3dpreview.shaders.config.slow"}}" class="fas fa-exclamation-triangle"></i> {{/if}}{{this.description}}</p>
                {{#each this}}
                    {{#if this.isField}}
                        <div class="form-group">
                            <label>{{this.title}}</label>
                            <div class="form-fields">
                                {{#if this.isNumber}}
                                    <input type="number" name="{{@../key}}.{{@key}}" step="any" data-dtype="Number" value="{{this.value}}"/>
                                {{/if}}
                                {{#if this.isSlider}}
                                    {{rangePicker name=(concat @../key "." @key) value=this.value min=this.min max=this.max step=this.step}}
                                {{/if}}
                                {{#if this.isBoolean}}
                                    <input type="checkbox" name="{{@../key}}.{{@key}}" data-dtype="Boolean" {{checked this.value}}/>
                                {{/if}}
                                {{#if this.isTexture}}
                                    {{filePicker target=(concat @../key "." @key) type="image"}}
                                    <input type="text" class="image" name="{{@../key}}.{{@key}}" value="{{this.value}}">
                                {{/if}}
                                {{#if this.isColor}}
                                    {{colorPicker name=(concat @../key "." @key) value=this.value}}
                                {{/if}}
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        {{/each}}

    </section>


    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="fas fa-save"></i> {{localize "levels3dpreview.shaders.config.save"}}
        </button>
        <button id="apply">
            <i class="fas fa-check"></i> {{localize "levels3dpreview.shaders.config.apply"}}
        </button>
        <button id="tomacro">
            <i class="fas fa-code"></i></i> {{localize "levels3dpreview.shaders.config.macro-btn"}}
        </button>
    </footer>
</form>