<form action="">
    <div class="action-buttons form-group">
        <div class="form-fields" style="justify-content: space-between;">
            <button data-tooltip="{{localize "levels3dpreview.mapgen.tooltips.fit-to-scene"}}" id="fit-to-scene"><i class="fas fa-expand-arrows-alt"></i></button>
            <button data-tooltip="{{localize "levels3dpreview.mapgen.tooltips.select-all"}}" id="select-all"><i class="fas fa-object-group"></i></button>
            <button data-tooltip="{{localize "levels3dpreview.mapgen.tooltips.deselect-all"}}" id="deselect-all"><i class="fas fa-ban"></i></button>
            <button data-tooltip="{{localize "levels3dpreview.mapgen.tooltips.invert"}}" id="invert"><i class="fas fa-exchange-alt"></i></button>
        <button data-tooltip="{{localize "levels3dpreview.mapgen.tooltips.select-elevation"}}" id="select-elevation"><i class="fas fa-expand-alt"></i></button>
        </div>
        <div class="form-fields">
            <input type="number" id="elevation" name="elevation" value="{{elevation}}" step="any">
            <button data-tooltip="{{localize "levels3dpreview.mapgen.tooltips.set-elevation"}}" id="set-elevation"><i class="fas fa-mountain"></i></button>
            <label>{{localize "levels3dpreview.mapgen.bevel"}}</label>
            <input type="number" name="bevel" value="{{bevel}}" step="any">
            </div>
        <div class="form-fields">
            <label>{{localize "levels3dpreview.mapgen.zoom"}}</label>
            <input id="zoom-level" type="range" value="{{zoomLevel}}" min="0.1" max="1" step="0.01">
        </div>
        <div class="form-fields">
            <label>{{localize "levels3dpreview.mapgen.rows"}}</label>
            <input type="number" value="{{rows}}" step="1" name="rows">
            <label>{{localize "levels3dpreview.mapgen.columns"}}</label>
            <input type="number" value="{{columns}}" step="1" name="columns">
        </div>
    </div>
    <div class="main-interface">
        <div class="grid-container">
            {{#each cells}}
            <div class="grid-row">
                {{#each this}}
                <div class="grid-cell{{#if selected}} selected{{/if}}" data-elevation="{{elevation}}" style="background-color: {{cellColor}};">
                    <input class="elevation" name="cells.{{@../index}}.{{@index}}.elevation" value="{{elevation}}">
                    <input class="material-id" style="display:none" name="cells.{{@../index}}.{{@index}}.materialId"
                        value="{{materialId}}">
                    <input type="checkbox" style="display:none" name="cells.{{@../index}}.{{@index}}.selected" {{#if selected}}checked{{/if}}>
                </div>
                {{/each}}
            </div>
            {{/each}}
        </div>
        <div class="material-panel">
            <button data-tooltip="{{localize "levels3dpreview.mapgen.tooltips.add-material"}}" id="add-material"><i class="fas fa-plus"></i></button>
            <hr>
            <ol class="material-list">
                {{#each materials}}
                <li class="material-item" data-material-id="{{materialId}}" data-material-index="{{@index}}">
                    <div class="form-group">
                        <label>{{localize "levels3dpreview.mapgen.material.name"}}</label>
                        <input type="text" name="materials.{{@index}}.materialId" value="{{materialId}}">
                    </div>

                    <div class="form-group">
                        <label>{{localize "levels3dpreview.mapgen.material.cellColor"}}</label>
                        <div class="form-fields">
                            {{colorPicker name=(concat "materials." @index ".cellColor") value=cellColor default="#ffffff"}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="materials.{{@index}}.texture.src">{{localize "levels3dpreview.mapgen.material.texture"}}</label>
                        <div class="form-fields">
                            <input class="image" type="text" name="materials.{{@index}}.texture.src"
                                placeholder="path/image.png" value="{{texture.src}}">
                            {{filePicker type="image" target=(concat "materials." @index ".texture.src")}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{localize "levels3dpreview.mapgen.material.tint"}}</label>
                        <div class="form-fields">
                            {{colorPicker name=(concat "materials." @index ".texture.tint") value=texture.tint
                            default="#ffffff"}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{localize "levels3dpreview.mapgen.material.repeat"}}</label>
                        <div class="form-fields">
                            {{rangePicker name=(concat "materials." @index ".texture.repeat") value=texture.repeat min=0.1 max=128
                            step=0.1}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{localize "levels3dpreview.mapgen.material.rotate"}}</label>
                        <div class="form-fields">
                            <input type="checkbox" name="materials.{{@index}}.texture.rotate" {{#if texture.rotate}}checked{{/if}}>
                        </div>
                    </div>

                    <div class="form-group">
                        <button data-tooltip="{{localize "levels3dpreview.mapgen.tooltips.apply-material"}}" id="apply-material"><i class="fas fa-check"></i></button>
                        <button data-tooltip="{{localize "levels3dpreview.mapgen.tooltips.select-material"}}" id="select-all-material"><i class="fas fa-object-group"></i></button>
                        <button data-tooltip="{{localize "levels3dpreview.mapgen.tooltips.delete-material"}}" id="delete-material"><i class="fas fa-trash"></i></button>
                    </div>
                    <hr>
                </li>
                {{/each}}
            </ol>
        </div>
    </div>
</form>